// $secondary-color: #26343D;

// .main-Register{
//     display: flex;
//     flex-direction: row;
//     justify-content: center;
//     height: 100vh;
//     width: 100vw;
//     overflow-x: hidden;
//     .left-side{
//         flex: 0.33;
//         background-color: $secondary-color;
//         .header{
//             height: 15rem;
//             margin-top: 2rem;
//             #logo-img{
//                 height: 100%;
//                 object-fit: cover;
//             }

//         }
//         .body{
//             height: 20rem;
//             margin-top: 2rem;
//             background: white;
//             #reg-img{
//                 height: 100%;
//                 width: 70%;
//                 object-fit: cover;
//             }
//         }
//         p{
//             color: white;
//             padding: 1.8rem 0.8rem;
//             text-align: left;
//             font-size: smaller;
//         }
//     }
//     .right-side{
//         flex: 0.67;
//         display: flex;
//         flex-direction: column;
//         align-items: flex-end;
//         .top-right{
//             float: right;
//             margin-right: 3rem;
//             font-size: small;
//             font-weight: 200;
//             #Links-signin{
//                 text-decoration: none;
//                 font-style: 600;
//                 margin-left: .3rem; 
//                 cursor: pointer;
//                 color: gray;
//                 &:hover{
//                     color: aqua;
//                 }
//             }
//         }
//         .body-right{
//             height: 100%;
//             width: 100%;
//             .body-conatainer{
//                 height: 80%;
//                 width: 60%;
//                 margin: 2rem auto;
//                 box-shadow: 0rem 0rem 2rem 0.1rem #48ea98;
//                 border-radius: 0.5rem;
//                 .input-group{
//                     width: 60%;
                    
//                 }
//             }
//         }
//     }
// }

$main-color: #4dd6b6;

.signupbody{
    background: linear-gradient(to right, rgb(252, 252, 252) 50%, $main-color 50%);


.container{
    background: linear-gradient(to right, rgb(252, 252, 252) 50%, $main-color 50%);


.main-Register {
    min-height: 100vh;
    min-width: 100vh;
    background: linear-gradient(to right, rgb(252, 252, 252) 50%, $main-color 50%);

    .signup-contain {
        height: 75vh;
        width: 80%;
        background-color: #4dd6b6;
        background: linear-gradient(to right bottom, rgba(236, 236, 236, 0.7), rgba(236, 236, 236, 0.4));
        border-radius: 1rem;
        margin: 2rem auto;
        box-shadow: 0.5rem 0.5rem 2rem -1rem rgb(58, 57, 57);
        display: flex;
        justify-content: center;
        align-items: center;
        .link{
            text-decoration: none;
            color: $main-color;
            transition: all 0.3s ease;
            &:hover{
                transform: translateY(-5px);
                color: gray;
            }
        }
        .footer{
            margin-left: auto;
            margin-right: auto;
            justify-content: center;
        }

        .left-side, .right-side{
            margin: 2rem;
            // box-shadow: 0.5rem 0.5rem 2rem -1rem rgb(58, 57, 57);
            height: 70%;
            width: 100%;

        }

        .left-side{
            display: flex;
            flex-direction: column;
            justify-content: center;
            .img-class{
                height: 4.5rem;
                margin-left: auto;
                margin-right: auto;
                #img-id{
                    height: 100%;
                    object-fit: cover;

                }
            }
            input{
                display: block;
                outline: none;
                height: 2rem;
                width: 100%;
                margin: auto;
                // margin-bottom: 1.5rem;
                transition: all 0.1s ease-in-out;
                padding: 0.2rem 1rem;
                &:focus{
                    outline: none;
                    border: none;
                }
                &:hover{
                    outline: 0.5px solid $main-color;
                    box-shadow: 2px 2px 9px -1px $main-color;
                }
            }
            label{
                display: block;
                margin: auto;
                float:  left;
                text-align: left;
                width: 78%;
                font-size: small;
                color: gray;
                margin-bottom: 0.5rem;
            }
            #sub-button{
                width: 100%;
                background: $main-color;
                color: white;
                border: none;
                cursor: pointer;
                padding: 0.5rem 1rem;
                transition: all 0.3 ease;
                &:hover{
                    box-shadow: 0.5px 0.5px 6px -1px black;
                    transform: translateY(-5px);
                }


            }
        }

        .right-side{
            .welcomeNote{
                h3{
                    margin-left: 1rem;
                    color: black;
                    float: left;
                    margin-bottom: 2.5rem;
                }
            }
            .welcomeImg{
                height: 100%;
                width: 100%;
                margin: 5rem auto auto;
                position: relative;
                #sig-img-id{
                    width: 120%;
                    object-fit: fill;
                }
            }
        }

    }
}
}
}